@model Ginilog_AdminWeb.Models.HomeModelData
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<!-- Send Mail -->
<div class="modal fade" id="sendMailModalW" tabindex="-1" role="dialog" aria-labelledby="sendMailModalLabelW" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendMailModalLabelW">Send Mail</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Send Email To User</h6>
                    <form asp-action="SendEmail" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="SendMailModel!.Name!" type="text" class="form-control" id="floatingInput"
                            placeholder="Name">
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="SendMailModel!.Email" type="email" class="form-control" id="floatingPassword"
                            placeholder="Number">
                            <label for="floatingPassword">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="SendMailModel!.Title!" type="text" class="form-control" id="floatingInput"
                            placeholder="Title">
                            <label for="floatingInput">Title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="SendMailModel!.Message" class="form-control" id="floatingPassword"
                            placeholder="Color"></textarea>
                            <label for="floatingPassword">Message Here</label>
                        </div>

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendMailModalAll" tabindex="-1" role="dialog" aria-labelledby="sendMailModalLabelAll" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendMailModalLabelAll">Send Mail</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Send Email To All User</h6>
                    <form asp-action="SendAllEmail" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="SendMailModel!.Title!" type="text" class="form-control" id="floatingInput"
                            placeholder="Title">
                            <label for="floatingInput">Title</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="SendMailModel!.Link!" type="url" class="form-control" id="floatingInput"
                            placeholder="Title">
                            <label for="floatingInput">Link</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="SendMailModel!.Message" class="form-control" id="floatingPassword"
                            placeholder="Color"></textarea>
                            <label for="floatingPassword">Message Here</label>
                        </div>

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="content-wrapper">


    <div class="container-fluid px-0">
        <div class="row px-0 mx-0">
            <div class="col-12 grid-margin px-0">
                <div class="d-flex justify-content-end gap-2 px-0">
                    <div class="col-auto mb-2">
                        <a class="nav-link btn btn-danger  create-new-button" data-bs-toggle="modal" data-bs-target="#sendMailModalAll">Send Email All User</a>
                    </div>
                    <div class="col-auto mb-2">
                        <a class="nav-link btn btn-primary create-new-button" data-bs-toggle="modal" data-bs-target="#sendMailModalW">Send Email</a>
                    </div>
                    <div class="col-auto mb-2">
                        <a class="nav-link btn btn-success create-new-button" href="~/Home/FeedBackList">Feedback</a>
                    </div>


                    @if (ViewBag.UseType == "Super_Admin")
                    {
                        <div class="col-auto mb-2">
                            <a class="nav-link btn btn-secondary create-new-button" href="~/Home/AllAdminUser">View Admin</a>
                        </div>
                        <div class="col-auto mb-2">
                            <a class="nav-link btn btn-success create-new-button" href="~/Home/AllStaffData">View Staff</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">&#8358;@Model.OrderStatistics!.TotalAmountOrders.ToString("N2")</h3>
                                <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.TotalOrders</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-success ">
                                <span class="mdi mdi-arrow-top-right icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">REVENUE</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">&#8358;@Model.OrderStatistics!.TodayAmountOrders.ToString("N2")</h3>
                                <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.TodaysOrder</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-success">
                                <span class="mdi mdi-arrow-top-right icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Today's Revenue</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">&#8358;@Model.OrderStatistics!.CompletedAmountOrders.ToString("N2")</h3>
                                <p class="text-danger ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.CompletedOrders</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-danger">
                                <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Completed Package</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex align-items-center align-self-start">
                                <h3 class="mb-0">&#8358;@Model.OrderStatistics!.PendingAmountOrders.ToString("N2")</h3>
                                <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.PendingOrders</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="icon icon-box-success ">
                                <span class="mdi mdi-arrow-top-right icon-item"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Pending Orders</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">Order List</h4>
                        <div class="nav-item dropdown">
                            <a href="@Url.Action("OrderList", "Home")" class="btn btn-success">
                                <span class="d-none d-lg-inline-flex">View All Orders</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Tracking Num </th>
                                    <th> Item Name </th>
                                    <th> Sender Name </th>
                                    <th> Reciever Name </th>
                                    <th> Company Name </th>
                                    <th> Shipping Cost </th>
                                    <th> Item Cost </th>
                                    <th> Order Status </th>
                                    <th> Date </th>
                                    <th> Details </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderModelData!)
                                {
                                    <tr>
                                        <td> @item.TrackingNum </td>
                                        <td> @item.ItemName </td>
                                        <td> @item.SenderName </td>
                                        <td> @item.RecieverName </td>
                                        <td> @item.CompanyName </td>
                                        <td> &#8358;@item.ShippingCost.ToString("N2") </td>
                                        <td> &#8358;@item.ItemCost.ToString("N2") </td>
                                        <td>
                                            <div class="badge badge-outline-success">@item.OrderStatus</div>
                                        </td>
                                        <th>@item.CreatedAt</th>
                                        <td><a href="@Url.Action("OrderDetails", "Home", new { id = item!.Id })" class="btn btn-outline-info">View</a><td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">Customer Reservation List</h4>
                        <div class="nav-item dropdown">
                            <a href="@Url.Action("CustomerReservationList", "Home")" class="btn btn-success">
                                <span class="d-none d-lg-inline-flex">View All Customer Reservation</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Accomodation Name </th>
                                    <th> Customer Name </th>
                                    <th> Ticket Num </th>
                                    <th> Reservation Start Date </th>
                                    <th> Reservation End Date  </th>
                                    <th> Total Cost </th>
                                    <th> No Of Days </th>
                                    <th> Room Number </th>
                                    <th> Date </th>
                                    <th> Details </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CustomerBookedReservation!)
                                {
                                    <tr>
                                        <td> @item.AccomodationName </td>
                                        <td> @item.CustomerName </td>
                                        <td> @item.TicketNum </td>
                                        <td> @item.ReservationStartDate </td>
                                        <td> @item.ReservationEndDate  </td>
                                        <td> &#8358;@item.TotalCost.ToString("N2") </td>
                                        <td> @item.NoOfDays </td>
                                        <td>
                                            <div class="badge badge-outline-success">@item.RoomNumber</div>
                                        </td>
                                        <th>@item.CreatedAt</th>
                                        <td><a href="@Url.Action("CustomerReservationDetails", "Home", new { id = item!.Id })" class="btn btn-outline-info">View</a>
                                        <td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
<!-- content-wrapper ends -->