@using System.Globalization
@model Ginilog_AdminWeb.Models.LogisticsModel.OrderModelData

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <!--
            <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                           <a href="@Url.Action("DeleteOrderConfirm", "Home", new { id = Model!.Id })" class="btn btn-danger">Delete</a>

                       </div>
            -->
           
        </div>
    </div>
</div>
 
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">


                <div class="row px-0 mx-0">
                    <div class="col-12 grid-margin px-0">
                        <div class="d-flex justify-content-end gap-2 px-0">
                            <div class="col-auto mb-2">
                                <a class="nav-link btn btn-danger  create-new-button">@Model.OrderStatus</a>
                            </div>


                            <div class="col-auto mb-2">
                                <a class="nav-link btn btn-danger create-new-button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Sales Chart Start -->

                <div class="row g-4">
                    <div class="col-sm-12 col-xl-4">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Tracking Num</label>
                                <input style="color: black; background-color: white;" value="@Model.TrackingNum" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Item Name</label>
                                <input style="color: black; background-color: white;" value="@Model.ItemName" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Item Description</label>
                                <textarea style="color: black; background-color: white;" value="@Model.ItemDescription" readonly type="text" class="form-control readonly-white"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Item Model Number</label>
                                <input style="color: black; background-color: white;" value="@Model.ItemModelNumber" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Item Cost</label>
                                <input style="color: black; background-color: white;" value="&#8358;@Model.ItemCost.ToString("N2")" readonly type="text" class="form-control readonly-white">

                            </div>
                            <div class="form-group">
                                <label>Item Weight</label>
                                <input style="color: black; background-color: white;" value="@Model.ItemWeight" readonly type="text" class="form-control readonly-white">

                            </div>
                            <div class="form-group">
                                <label>Item Quantity</label>
                                <input style="color: black; background-color: white;" value="@Model.ItemQuantity" readonly type="text" class="form-control readonly-white">

                            </div>
                            <div class="form-group">
                                <label>Package Type</label>
                                <input style="color: black; background-color: white;" value="@Model.PackageType" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Expected Delivery Time</label>
                                <input style="color: black; background-color: white;" value="@Model.ExpectedDeliveryTime" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Rider Type</label>
                                <input style="color: black; background-color: white;" value="@Model.RiderType" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Shipping Type</label>
                                <input style="color: black; background-color: white;" value="@Model.ShippingType" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Shipping Cost</label>
                                <input style="color: black; background-color: white;" value="&#8358;@Model.ShippingCost.ToString("N2")" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Vat Cost</label>
                                <input style="color: black; background-color: white;" value="&#8358;@Model.VatCost.ToString("N2")" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Trnx Reference</label>
                                <input style="color: black; background-color: white;" value="@Model.TrnxReference" readonly type="text" class="form-control readonly-white">

                            </div>
                            <div class="form-group">
                                <label>Payment Channel</label>
                                <input style="color: black; background-color: white;" value="@Model.PaymentChannel" readonly type="text" class="form-control readonly-white">

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <div class="card-body">

                            <div class="form-group">
                                <label>Sender Name</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderName" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender PhoneNo</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderPhoneNo" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Email</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderEmail" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Address</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderAddress" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender State</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderState" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Country</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderCountry" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Locality</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderLocality" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Postal Code</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderPostalCode" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Latitude</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderLatitude" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender Longitude</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderLongitude" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Name</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverName" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever PhoneNo</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverPhoneNo" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Email</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverEmail" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Addressl</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverAddress" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input style="color: black; background-color: white;" value="@Model.CreatedAt" readonly type="text" class="form-control readonly-white">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4">
                        <div class="card-body">

                            <div class="form-group">
                                <label>Reciever State</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverState" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Country</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverCountry" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Locality</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverLocality" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever PostalCode</label>
                                <input style="color: black; background-color: white;" value="@Model.SenderAddress" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Sender State</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverPostalCode" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Latitude</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverLatitude" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Reciever Longitude</label>
                                <input style="color: black; background-color: white;" value="@Model.RecieverLongitude" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Company Name</label>
                                <input style="color: black; background-color: white;" value="@Model.CompanyName" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Company PhoneNo</label>
                                <input style="color: black; background-color: white;" value="@Model.CompanyPhoneNo" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Company Email</label>
                                <input style="color: black; background-color: white;" value="@Model.CompanyEmail" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Company Address</label>
                                <input style="color: black; background-color: white;" value="@Model.CompanyAddress" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Current Latitude</label>
                                <input style="color: black; background-color: white;" value="@Model.CurrentLatitude" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Current Longitude</label>
                                <input style="color: black; background-color: white;" value="@Model.CurrentLongitude" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Current Location</label>
                                <input style="color: black; background-color: white;" value="@Model.CurrentLocation" readonly type="text" class="form-control readonly-white">
                            </div>
                            <div class="form-group">
                                <label>Update Date</label>
                                <input style="color: black; background-color: white;" value="@Model.UpdatedAt" readonly type="text" class="form-control readonly-white">
                            </div>
                        </div>
                    </div>
                </div>




                <div >
                    <div style="padding-top:20px"></div>
                    <h6>Order Images/Videos</h6>
                    <div style="padding-top:20px"></div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="text-white">
                                    <th>View Images</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PackageImageLists!.Take(5)!)
                                {
                                    <tr>
                                        <td> <p><a href="@Url.Action("ViewImages", "Home", new { videoUrl = Model.ConfirmationImage ,imageUrl = item})" class="btn btn-outline-success">View Images</a></p><span style="padding-left:10px"> </span></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>



                <!--Track Order-->


                <div>
                    <div style="padding-top:20px"></div>
                    <h6>Track Order Flow</h6>
                    <div style="padding-top:20px"></div>
                    @if (Model.OrderStatus == "Open" || Model.OrderStatus == "Accepted" ||
                    Model.OrderStatus == "Picked" || Model.OrderStatus == "Ongoing" ||
                    Model.OrderStatus == "Completed" || Model.OrderStatus == "Delivered" || Model.OrderStatus == "Closed")
                    {
                        <p class="text-white bg-secondary p-2 rounded">
                            A Customer has opened an order and is awaiting processing.
                        </p>
                        <p class="text-center" style="font-size: 2rem;">&#x25BC;</p> <!-- Centered, larger arrow -->
                        @if (Model.OrderStatus == "Open")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p> <!-- Centered, larger arrow -->
                        }

                    }

                    @if (Model.OrderStatus == "Accepted" ||
                    Model.OrderStatus == "Picked" || Model.OrderStatus == "Ongoing" ||
                    Model.OrderStatus == "Completed" || Model.OrderStatus == "Delivered" || Model.OrderStatus == "Closed")
                    {
                        <p class="text-success p-2 rounded">
                            Rider has accepted the order and it is being prepared.
                        </p>
                        <p class="text-center" style="font-size: 2rem;">&#x25BC;</p> <!-- Centered, larger arrow -->
                        @if (Model.OrderStatus == "Accepted")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p> <!-- Centered, larger arrow -->
                        }
                    }

                    @if (Model.OrderStatus == "Picked" || Model.OrderStatus == "Ongoing" ||
                    Model.OrderStatus == "Completed" || Model.OrderStatus == "Delivered" || Model.OrderStatus == "Closed")
                    {
                        <p class="text-warning p-2 rounded">
                            Your order has been picked and is heading to the gas station.
                        </p>
                        <p class="text-center" style="font-size: 2rem;">&#x25BC;</p> <!-- Centered, larger arrow -->
                        @if (Model.OrderStatus == "Picked")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p> <!-- Centered, larger arrow -->
                        }
                    }

                    @if (Model.OrderStatus == "Ongoing" || Model.OrderStatus == "Completed" || Model.OrderStatus == "Delivered" ||
                    Model.OrderStatus == "Closed")
                    {
                        <p class="text-primary p-2 rounded">
                            The order is on the way!
                        </p>
                        <p class="text-center" style="font-size: 2rem;">&#x25BC;</p> <!-- Centered, larger arrow -->
                        @if (Model.OrderStatus == "Ongoing")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p> <!-- Centered, larger arrow -->
                        }
                    }

                    @if (Model.OrderStatus == "Completed" || Model.OrderStatus == "Delivered" ||
                    Model.OrderStatus == "Closed")
                    {
                        <p class="text-info p-2 rounded">
                            This order has been successfully completed.
                        </p>
                        <p class="text-center" style="font-size: 2rem;">&#x25BC;</p> <!-- Centered, larger arrow -->
                        @if (Model.OrderStatus == "Completed")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p> <!-- Centered, larger arrow -->
                        }
                    }

                    @if (Model.OrderStatus == "Delivered" || Model.OrderStatus == "Closed")
                    {
                        <p class="text-warning p-2 rounded" style="background-color: wheat;">
                            This order is now delivered.
                        </p>
                        <p class="text-center" style="font-size: 2rem;">&#x25BC;</p> <!-- Centered, larger arrow -->
                        @if (Model.OrderStatus == "Delivered")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p>
                        }
                    }

                    @if (Model.OrderStatus == "Closed")
                    {
                        <p class="text-muted p-2 rounded">This order is now closed. </p>
                        @if (Model.OrderStatus == "Closed")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p>
                        }
                    }
                    @if (Model.OrderStatus == "Rejected")
                    {
                        <p class="text-danger p-2 rounded">
                            Rejected state.
                        </p>
                        @if (Model.OrderStatus == "Rejected")
                        {
                            <p class="text-center" style="font-size: 2rem;">Time: @ViewBag.Time</p>
                        }
                    }



                    @{
                        var currentStatus = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.OrderStatus!.ToLower());
                    }

                    @foreach (var status in Model.OrderDeliveryFlows!)
                    {
                        var statusName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(status.OrderStatus!.ToLower());
                        var statusDate = status.UpdatedAt.ToLocalTime().ToString("ddd, MMM d hh:mm tt");
                        var isLast = status == Model.OrderDeliveryFlows.Last();
                        var iconClass = statusName == currentStatus ? "icon-grey" : "icon-green";
                        var textColorClass = statusName == currentStatus ? "text-grey" : "text-green";
                        <div class="track-flow-row">
                            <div class="icon-column">
                                <i class="@(statusName == currentStatus ? "far fa-square" : "far fa-check-square") @iconClass"></i>
                                @if (!isLast)
                                {
                                    <div class="dashed-line"></div>
                                }
                            </div>
                            <div class="content-column">
                                <p class="status-title @textColorClass">Package Status: @statusName</p>
                                <p class="status-date">@statusDate</p>
                                <p class="status-location text-truncate">@status.CurrentLocation</p>
                            </div>
                        </div>
                    }

                </div>
              </div>

          </div>
      </div>

</div>