@model Ginilog_Company_WebDasboard.Models.HomeModelData

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12 mb-4 mb-xl-0">
            <h4 class="font-weight-bold text-dark">Hi, welcome back! @ViewBag.CompanyName</h4>
            <div class="font-weight-normal mb-2 text-muted" id="clock">00:00:00</div>
        </div>
    </div>
     <div class="container-fluid px-0">
        <div class="row px-0 mx-0">
            <div class="col-12 grid-margin px-0">
                <div class="d-flex justify-content-end gap-2 px-0">
                  
                    @if (ViewBag.UseType == "Manager")
                    {
                        <div class="col-auto mb-2">
                            <a class="nav-link btn btn-secondary create-new-button" href="~/Home/AllStaffData">View Staff</a>
                        </div>

                        @if (ViewBag.CompanyType.Contains("Logistics") && ViewBag.CompanyType.Contains("Accommodation")&& ViewBag.Logistics == "NotRegistered"&& ViewBag.Accommodation == "NotRegistered")
                        {
                          <div class="col-auto mb-2">
                            <a class="nav-link btn btn-primary create-new-button" href="~/Home/AddLogCompany/@ViewBag.ManagerId">Register Logistics</a>
                          </div>
                           <div class="col-auto mb-2">
                            <a class="nav-link btn btn-success create-new-button" href="~/Home/AddAccommodation/@ViewBag.ManagerId">Register Accommodation</a>
                        </div>

                        }

                        else if (ViewBag.CompanyType.Contains("Logistics")&& ViewBag.Logistics == "NotRegistered")
                        {
                          <div class="col-auto mb-2">
                            <a class="nav-link btn btn-primary create-new-button" href="~/Home/AddLogCompany/@ViewBag.ManagerId">Register Logistics</a>
                        </div>

                        }
                        else  if ( ViewBag.CompanyType.Contains("Accommodation")&& ViewBag.Accommodation == "NotRegistered")
                        {
                         <div class="col-auto mb-2">
                            <a class="nav-link btn btn-success create-new-button" href="~/Home/AddAccommodation/@ViewBag.ManagerId">Register Accommodation</a>
                        </div>
                        }

                    }
                      @if (ViewBag.CompanyType.Contains("Logistics")&&ViewBag.CompanyType.Contains("Logistics")&& ViewBag.Logistics != "NotRegistered"&& ViewBag.Accommodation != "NotRegistered")
                        {
                          <div class="col-auto mb-2">
                            <a class="nav-link btn btn-primary create-new-button" href="~/Home/LogCompanyDetails">View Logistics</a>
                        </div>
                         <div class="col-auto mb-2">
                                <a href="~/Home/AddOrder" class="nav-link btn btn-secondary create-new-button">Create Order</a>
                            </div>
                          <div class="col-auto mb-2">
                            <a class="nav-link btn btn-success create-new-button" href="~/Home/AccommodationDetails">View Accommodation</a>
                        </div>
                          <div class="col-auto mb-2">
                                <a href="~/Home/AddBookReservation/@ViewBag.AccommodationId" class="nav-link btn btn-secondary create-new-button">Create Reservation</a>
                            </div>
                        }
                        else if (ViewBag.CompanyType.Contains("Logistics")&& ViewBag.Logistics != "NotRegistered")
                        {
                          <div class="col-auto mb-2">
                            <a class="nav-link btn btn-primary create-new-button" href="~/Home/LogCompanyDetails">View Logistics</a>
                        </div>
                         <div class="col-auto mb-2">
                                <a href="~/Home/AddOrder" class="nav-link btn btn-secondary create-new-button">Create Order</a>
                         </div>
                        }
                        else  if ( ViewBag.CompanyType.Contains("Accommodation")&& ViewBag.Accommodation != "NotRegistered")
                        {
                         <div class="col-auto mb-2">
                            <a class="nav-link btn btn-success create-new-button" href="~/Home/AccommodationDetails">View Accommodation</a>
                        </div>
                         <div class="col-auto mb-2">
                                <a href="~/Home/AddBookReservation/@ViewBag.AccommodationId" class="nav-link btn btn-secondary create-new-button">Create Reservation</a>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>

  

    @if (ViewBag.CompanyType.Contains("Logistics") && ViewBag.CompanyType.Contains("Accommodation"))
    {
           @if(ViewBag.UseType == "Manager")
    {
        <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.TotalAmountOrders.ToString("N2")</h3>
                                    <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.TotalOrders</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">REVENUE</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.TodayAmountOrders.ToString("N2")</h3>
                                    <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.TodaysOrder</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Today's Revenue</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.CompletedAmountOrders.ToString("N2")</h3>
                                    <p class="text-danger ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.CompletedOrders</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-danger">
                                    <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Completed Package</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.PendingAmountOrders.ToString("N2")</h3>
                                    <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.PendingOrders</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Pending Orders</h6>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title mb-0">Order List</h4>
                <div class="nav-item dropdown">
                    <a href="@Url.Action("OrderList", "Home")" class="btn btn-success">
                        <span class="d-none d-lg-inline-flex">View All Orders</span>
                    </a>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> Tracking Num </th>
                                <th> Item Name </th>
                                <th> Sender Name </th>
                                <th> Reciever Name </th>
                                <th> Shipping Cost </th>
                                <th> Item Cost </th>
                                <th> Order Status </th>
                                <th> Date </th>
                                <th> Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderModelData!)
                            {
                                <tr>
                                    <td> @item.TrackingNum </td>
                                    <td> @item.ItemName </td>
                                    <td> @item.SenderName </td>
                                    <td> @item.RecieverName </td>
                                    <td> &#8358;@item.ShippingCost.ToString("N2") </td>
                                    <td> &#8358;@item.ItemCost.ToString("N2") </td>
                                    <td>
                                        <div class="badge badge-outline-success">@item.OrderStatus</div>
                                    </td>
                                    <td>@item.CreatedAt</td>
                                    <td><a href="@Url.Action("OrderDetails", "Home", new { id = item!.Id })" class="btn btn-outline-info">View</a>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-0">Customer Reservation List</h4>
                <div class="nav-item dropdown">
                    <a href="@Url.Action("CustomerReservationList", "Home")" class="btn btn-success">
                        <span class="d-none d-lg-inline-flex">View All Customer Reservation</span>
                    </a>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> Accomodation Name </th>
                                <th> Customer Name </th>
                                <th> Ticket Num </th>
                                <th> Reservation Start Date </th>
                                <th> Reservation End Date  </th>
                                <th> Total Cost </th>
                                <th> No Of Days </th>
                                <th> Room Number </th>
                                <th> Date </th>
                                <th> Details </th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model.CustomerBookedReservation!)
                                {
                                    <tr>
                                        <td> @item.AccomodationName </td>
                                        <td> @item.CustomerName </td>
                                        <td> @item.TicketNum </td>
                                        <td> @item.ReservationStartDate </td>
                                        <td> @item.ReservationEndDate  </td>
                                        <td> &#8358;@item.TotalCost.ToString("N2") </td>
                                        <td> @item.NoOfDays </td>
                                        <td>
                                            <div class="badge badge-outline-success">@item.RoomNumber</div>
                                        </td>
                                        <th>@item.CreatedAt</th>
                                        <td><a href="@Url.Action("CustomerReservationDetails", "Home", new { id = item!.Id })" class="btn btn-outline-info">View</a>
                                        <td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
    else if (ViewBag.CompanyType.Contains("Logistics"))
    {
           @if(ViewBag.UseType == "Manager")
    {
        <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.TotalAmountOrders.ToString("N2")</h3>
                                    <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.TotalOrders</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">REVENUE</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.TodayAmountOrders.ToString("N2")</h3>
                                    <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.TodaysOrder</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Today's Revenue</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.CompletedAmountOrders.ToString("N2")</h3>
                                    <p class="text-danger ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.CompletedOrders</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-danger">
                                    <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Completed Package</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">&#8358;@Model.OrderStatistics!.PendingAmountOrders.ToString("N2")</h3>
                                    <p class="text-success ml-2 mb-0 font-weight-medium">@Model.OrderStatistics.PendingOrders</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Pending Orders</h6>
                    </div>
                </div>
            </div>
        </div>
    }
         <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                <h4 class="card-title mb-0">Order List</h4>
                <div class="nav-item dropdown">
                    <a href="@Url.Action("OrderList", "Home")" class="btn btn-success">
                        <span class="d-none d-lg-inline-flex">View All Orders</span>
                    </a>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> Tracking Num </th>
                                <th> Item Name </th>
                                <th> Sender Name </th>
                                <th> Reciever Name </th>
                                <th> Shipping Cost </th>
                                <th> Item Cost </th>
                                <th> Order Status </th>
                                <th> Date </th>
                                <th> Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderModelData!)
                            {
                                <tr>
                                    <td> @item.TrackingNum </td>
                                    <td> @item.ItemName </td>
                                    <td> @item.SenderName </td>
                                    <td> @item.RecieverName </td>
                                    <td> &#8358;@item.ShippingCost.ToString("N2") </td>
                                    <td> &#8358;@item.ItemCost.ToString("N2") </td>
                                    <td>
                                        <div class="badge badge-outline-success">@item.OrderStatus</div>
                                    </td>
                                    <td>@item.CreatedAt</td>
                                    <td><a href="@Url.Action("OrderDetails", "Home", new { id = item!.Id })" class="btn btn-outline-info">View</a>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
    else if ( ViewBag.CompanyType.Contains("Accommodation"))
    {
        
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-0">Customer Reservation List</h4>
                <div class="nav-item dropdown">
                    <a href="@Url.Action("CustomerReservationList", "Home")" class="btn btn-success">
                        <span class="d-none d-lg-inline-flex">View All Customer Reservation</span>
                    </a>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> Accomodation Name </th>
                                <th> Customer Name </th>
                                <th> Ticket Num </th>
                                <th> Reservation Start Date </th>
                                <th> Reservation End Date  </th>
                                <th> Total Cost </th>
                                <th> No Of Days </th>
                                <th> Room Number </th>
                                <th> Date </th>
                                <th> Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerBookedReservation!)
                                {
                                    <tr>
                                        <td> @item.AccomodationName </td>
                                        <td> @item.CustomerName </td>
                                        <td> @item.TicketNum </td>
                                        <td> @item.ReservationStartDate </td>
                                        <td> @item.ReservationEndDate  </td>
                                        <td> &#8358;@item.TotalCost.ToString("N2") </td>
                                        <td> @item.NoOfDays </td>
                                        <td>
                                            <div class="badge badge-outline-success">@item.RoomNumber</div>
                                        </td>
                                        <th>@item.CreatedAt</th>
                                        <td><a href="@Url.Action("CustomerReservationDetails", "Home", new { id = item!.Id })" class="btn btn-outline-info">View</a>
                                        <td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }

</div>
